In [1]:
# Author: Lingyu Zhou
# Organization: New York Sea Grant

##  airtb.csv   ->  Archieve
##  s123.csv    ->  NEW!- S123 MasterTable
##  geodb.csv   ->  GeoDataBase
import pandas as pd
import cv2 as cv

In [14]:
airtb=pd.read_csv("./airtb.csv")
geodb=pd.read_csv("./geodb.csv")
s123=pd.read_csv("./s123.csv")

In [1]:
s123

NameError: name 's123' is not defined

In [30]:
airtb[airtb.S123_Object_ID==20]

,S123_Object_ID,Date,Address,Neighborhood,Latitude,Longitude,Contact,Event,Source,Approx. Depth,What is affected by the flood waters?,What are additional causes of flooding?,Weather,Additional Comments,May we contact you in the future for any of the following reasons?,Photo
378,20.0,5/7/2020 12:00,NaN,NaN,40.65789297,-73.837982,0,NaN,overland_flooding_flooding_from,1_6_inches,property,NaN,light_rain,0,NaN,ATT20_2.jpeg (https://v5.airtableusercontent.c...

In [32]:
s123[s123.ObjectID==20]

,ObjectID,Date and Time of Observation,How deep is the flood water (in inches)?,Contact Information,May we contact you?,Photo,Neighborhood,Longitude,Latitude
271,20,5/7/2020 12:00,16.0,0,NaN,ATT20_2.jpeg (https://v5.airtableusercontent.c...,NaN,-73.837982,40.657893

In [33]:
geodb[["CreationDate","EditDate","Time of Observation","Date of Observation"]]

,CreationDate,EditDate,Time of Observation,Date of Observation
0,5/7/2020 12:12:32 AM,8/20/2021 3:07:38 AM,12:00,5/7/2020 12:00:00 AM
1,5/7/2020 12:15:22 AM,8/20/2021 3:07:38 AM,12:00,5/7/2020 12:00:00 AM
2,5/7/2020 12:35:38 AM,12/6/2021 8:46:09 PM,00:30,5/7/2020 12:00:00 AM
3,5/7/2020 12:41:22 AM,8/20/2021 3:07:38 AM,00:39,5/7/2020 12:00:00 AM
4,5/7/2020 12:46:55 AM,8/20/2021 3:07:38 AM,00:30,5/7/2020 12:00:00 AM
...,...,...,...,...
719,2/21/2023 3:22:28 PM,2/21/2023 3:22:28 PM,09:31,2/21/2023 5:00:00 PM
720,5/1/2023 2:01:04 AM,5/1/2023 2:01:04 AM,21:57,4/30/2023 4:00:00 PM
721,6/9/2023 2:41:17 AM,6/9/2023 2:41:17 AM,18:30,6/2/2023 4:00:00 PM
722,6/13/2023 1:56:10 AM,6/13/2023 1:56:10 AM,21:49,6/12/2023 4:00:00 PM
723,6/16/2023 7:26:16 PM,6/16/2023 7:26:16 PM,15:01,6/16/2023 4:00:00 PM

In [47]:
geodb

,ObjectID,GlobalID,CreationDate,Creator,EditDate,Editor,Which of the following were flooded?,Other - Which of the following were flooded?,Please describe the weather conditions during the flooding event.,Other - Please describe the weather conditions during the flooding event.,...,How deep is the flood water (in inches)?,Time of Observation,Date of Observation,What caused the flooding?,Other - What caused the flooding?,Is the location flooded at the time of the report?,May we contact you?,Neighborhood and/or Borough,x,y
0,20,e4ec81f4-186d-41b0-8779-a0e938c814a3,5/7/2020 12:12:32 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,property,NaN,light_rain,NaN,...,NaN,12:00,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.837982,40.657893
1,21,934fab2f-3314-4abc-8583-ff1a3b968439,5/7/2020 12:15:22 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,roads_streets,NaN,light_rain,NaN,...,NaN,12:00,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.837842,40.657755
2,22,0a4db08d-ae85-441e-86b2-80842c85c4c9,5/7/2020 12:35:38 AM,NaN,12/6/2021 8:46:09 PM,JBEditor,"roads_streets,sidewalks",NaN,"light_wind,light_rain",NaN,...,NaN,00:30,5/7/2020 12:00:00 AM,Storm_drain_Water_bubbling_up_f,NaN,Yes,No,Hamilton Beach,-73.829444,40.653456
3,23,79733b16-eda5-4d37-831a-816fbf3ab2e3,5/7/2020 12:41:22 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,"roads_streets,sidewalks,property",NaN,"light_wind,light_rain",NaN,...,NaN,00:39,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.817104,40.609023
4,24,efc6e186-66be-4e7c-866d-0f7eec330779,5/7/2020 12:46:55 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,"roads_streets,sidewalks,property",NaN,"light_wind,light_rain",NaN,...,NaN,00:30,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.829534,40.653500
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,775,2d2a0aa6-ab81-4b76-8432-6534559f14ba,2/21/2023 3:22:28 PM,NaN,2/21/2023 3:22:28 PM,NaN,"roads_streets,sidewalks,property",NaN,light_rain,NaN,...,5.0,09:31,2/21/2023 5:00:00 PM,"Overland_flooding_Water_coming_,Rainfall_Water...",NaN,No,Yes,"Howard Beach, Queens NY",-73.831090,40.658700
720,776,cd812384-d867-4493-8673-5d8784173114,5/1/2023 2:01:04 AM,NaN,5/1/2023 2:01:04 AM,NaN,property,NaN,heavy_rain,NaN,...,24.0,21:57,4/30/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,Yes,Yes,East Elmhurst,-73.886160,40.765840
721,777,1046acad-51d0-4527-83ab-abe4b7da12ab,6/9/2023 2:41:17 AM,NaN,6/9/2023 2:41:17 AM,NaN,"roads_streets,sidewalks,property,other",Homes,"heavy_wind_gusts,light_rain,heavy_rain,other",This happens with light and heavy rain,...,12.0,18:30,6/2/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",Every time it rain this place over flows and a...,Yes,Yes,Brooklyn,-73.942715,40.659874
722,778,9d81cf5e-335a-491f-8968-348fb1f4bed7,6/13/2023 1:56:10 AM,NaN,6/13/2023 1:56:10 AM,NaN,"roads_streets,property",NaN,light_rain,NaN,...,4.0,21:49,6/12/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,Yes,Yes,NaN,-73.942680,40.659922
723,779,adea909c-2d99-47e8-8e76-66dc7fff4d78,6/16/2023 7:26:16 PM,NaN,6/16/2023 7:26:16 PM,NaN,"roads_streets,sidewalks,property",NaN,"light_rain,heavy_rain",NaN,...,4.0,15:01,6/16/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,Yes,Yes,NaN,-73.943031,40.659775

In [39]:
airtb.head(2)

,S123_Object_ID,Date,Address,Neighborhood,Latitude,Longitude,Contact,Event,Source,Approx. Depth,What is affected by the flood waters?,What are additional causes of flooding?,Weather,Additional Comments,May we contact you in the future for any of the following reasons?,Photo
0,NaN,9/10/2018 09:50,Davenport Court,Howard Beach/ Hamilton Beach,40.6534008,-73.830255,B. Kissane,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,414697~1.JPG (https://v5.airtableusercontent.c...
1,NaN,9/10/2018 22:35,First Street,Howard Beach/ Hamilton Beach,40.6541251,-73.830871,G. Ohringer,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,First Street; 9_10_2018; Night Tide _ G Ohring...

In [37]:
s123.head(1)

,ObjectID,Date and Time of Observation,How deep is the flood water (in inches)?,Contact Information,May we contact you?,Photo,Neighborhood,Longitude,Latitude
0,700,12/5/2021 08:46,4.0,THIMBLE131@AOL.COM,Yes,ATT1009_16387119951971884772446874806523.jpg (...,FAR ROCKAWAY,-73.5821,40.77959

In [64]:
print(f"GeoDB:\nLen:{len(geodb)}; Unique Rows:{len(geodb.ObjectID.unique())}\nAirtable:\nLen:{len(airtb)}; Unique Rows:{len(airtb.S123_Object_ID.unique())}\nSurvey123:\nLen:{len(s123)}; Unique Rows:{len(s123.ObjectID.unique())}")

GeoDB:
Len:724; Unique Rows:724
Airtable:
Len:516; Unique Rows:153
Survey123:
Len:655; Unique Rows:655

In [70]:
airtb.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 516 entries, 0 to 515
Data columns (total 16 columns):
 #   Column                                                               Non-Null Count  Dtype
---  ------                                                               --------------  -----
 0   S123_Object_ID                                                       152 non-null    float64
 1   Date                                                                 516 non-null    object
 2   Address                                                              364 non-null    object
 3   Neighborhood                                                         364 non-null    object
 4   Latitude                                                             516 non-null    object
 5   Longitude                                                            516 non-null    float64
 6   Contact                                                              507 non-null    object
 7   Event                                                                345 non-null    object
 8   Source                                                               327 non-null    object
 9   Approx. Depth                                                        254 non-null    object
 10  What is affected by the flood waters?                                179 non-null    object
 11  What are additional causes of flooding?                              27 non-null     object
 12  Weather                                                              188 non-null    object
 13  Additional Comments                                                  204 non-null    object
 14  May we contact you in the future for any of the following reasons?   120 non-null    object
 15  Photo                                                                514 non-null    object
dtypes: float64(2), object(14)
memory usage: 64.6+ KB

In [75]:
airtb[airtb.S123_Object_ID.isna()]

,S123_Object_ID,Date,Address,Neighborhood,Latitude,Longitude,Contact,Event,Source,Approx. Depth,What is affected by the flood waters?,What are additional causes of flooding?,Weather,Additional Comments,May we contact you in the future for any of the following reasons?,Photo
0,NaN,9/10/2018 09:50,Davenport Court,Howard Beach/ Hamilton Beach,40.6534008,-73.830255,B. Kissane,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,414697~1.JPG (https://v5.airtableusercontent.c...
1,NaN,9/10/2018 22:35,First Street,Howard Beach/ Hamilton Beach,40.6541251,-73.830871,G. Ohringer,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,First Street; 9_10_2018; Night Tide _ G Ohring...
2,NaN,9/10/2018 23:35,Davenport Court,Howard Beach/ Hamilton Beach,40.6534843,-73.830255,C. O'Dea,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,Davenport Court _ Charlene O'Dea 1135PM _USED....
3,NaN,9/10/2018 23:35,Rau Court,Howard Beach/ Hamilton Beach,40.6539708,-73.829887,C. O'Dea,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,Rau Court _ C O'Dea 1135PM.jpg (https://v5.air...
4,NaN,9/25/2018 09:45,Davenport Court,Howard Beach/ Hamilton Beach,40.6534572,-73.829909,C. O'Dea,September 2018 New Moon,Overland Flooding,NaN,NaN,NaN,NaN,NaN,NaN,"""Davenport Court, Tuesday morning at 9_45 Sept..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
393,NaN,7/11/2020 12:44,W35th Street and Mermaid,Coney Island,40.5770693,-74.001791,K. Shirayanagi,Tropical Storm Fay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,image2.JPG (https://v5.airtableusercontent.com...
394,NaN,7/11/2020 12:46,W35th Street and Neptune,Coney Island,40.5771376,-74.001255,K. Shirayanagi,Tropical Storm Fay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,image3.JPG (https://v5.airtableusercontent.com...
395,NaN,7/11/2020 13:02,W24th Street and Neptune,Coney Island,40.577816,-73.991496,K. Shirayanagi,Tropical Storm Fay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,image4.JPG (https://v5.airtableusercontent.com...
396,NaN,7/11/2020 13:12,W16th and Neptune,Coney Island,40.5789484,-73.984146,K. Shirayanagi,Tropical Storm Fay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,image5.JPG (https://v5.airtableusercontent.com...
397,NaN,7/11/2020 17:55,W15th and Surf Avenue,Coney Island,40.5757705,-73.982433,K. Shirayanagi,Tropical Storm Fay,NaN,NaN,NaN,NaN,NaN,NaN,NaN,image6.JPG (https://v5.airtableusercontent.com...

In [16]:
print("objID in Survey 123 not in GeoDB:", set(s123.ObjectID.unique()) - set(geodb["ObjectID"].unique()))
print("objID in Airtable not in GeoDB:", set(airtb["S123_Object_ID"].unique()) - set(geodb["ObjectID"].unique()))
print("objID in Survey 123 not in Airtable:", set(s123.ObjectID.unique())-set(airtb["S123_Object_ID"].unique()))
print("objID in Airtable not in Survey 123 :", set(airtb["S123_Object_ID"].unique())-set(s123.ObjectID.unique()))

objID in Survey 123 not in GeoDB: {19}
objID in Airtable not in GeoDB: {nan, 19.0}
objID in Survey 123 not in Airtable: {176, 177, 182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194, 195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207, 208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220, 221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233, 234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246, 247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259, 260, 261, 262, 263, 264, 265, 266, 267, 268, 269, 270, 271, 272, 273, 274, 275, 281, 282, 283, 284, 285, 286, 287, 288, 289, 290, 291, 292, 294, 295, 296, 297, 298, 299, 300, 301, 302, 303, 304, 305, 306, 307, 308, 309, 310, 311, 312, 313, 314, 315, 316, 317, 318, 319, 320, 321, 322, 323, 324, 325, 326, 327, 328, 329, 330, 331, 332, 333, 334, 335, 336, 337, 338, 339, 340, 341, 342, 343, 344, 345, 346, 347, 348, 349, 350, 351, 352, 353, 354, 355, 356, 357, 358, 359, 360, 361, 362, 363, 364, 365, 366, 367, 368, 369, 370, 371, 372, 373, 374, 375, 376, 377, 378, 379, 380, 381, 382, 383, 384, 385, 386, 387, 388, 389, 390, 391, 392, 393, 394, 395, 396, 397, 398, 399, 400, 401, 402, 403, 404, 405, 406, 407, 408, 409, 410, 411, 412, 425, 426, 427, 428, 429, 430, 431, 432, 433, 434, 435, 436, 437, 438, 439, 440, 441, 442, 443, 444, 445, 446, 447, 448, 449, 450, 451, 452, 453, 454, 455, 456, 457, 458, 459, 460, 461, 462, 463, 464, 465, 466, 467, 468, 469, 470, 471, 472, 473, 474, 475, 476, 477, 478, 479, 480, 481, 482, 483, 484, 485, 486, 487, 488, 489, 490, 491, 492, 493, 494, 495, 496, 497, 498, 499, 500, 501, 502, 503, 504, 505, 506, 507, 508, 509, 510, 511, 512, 513, 514, 515, 516, 517, 518, 519, 520, 521, 522, 523, 524, 525, 526, 527, 528, 529, 530, 531, 532, 533, 534, 535, 536, 537, 538, 539, 540, 541, 542, 543, 544, 545, 546, 547, 548, 549, 550, 551, 552, 553, 554, 555, 556, 557, 558, 559, 560, 561, 562, 563, 564, 565, 566, 567, 568, 569, 570, 571, 572, 573, 574, 575, 576, 577, 578, 579, 580, 581, 582, 583, 584, 585, 586, 587, 588, 589, 590, 591, 592, 593, 594, 595, 596, 597, 598, 599, 600, 601, 602, 603, 604, 605, 606, 607, 608, 609, 610, 611, 612, 613, 614, 615, 616, 617, 618, 619, 620, 621, 622, 623, 624, 625, 626, 627, 628, 629, 630, 631, 632, 633, 634, 635, 636, 637, 638, 639, 640, 641, 642, 643, 644, 645, 646, 647, 648, 649, 650, 651, 652, 653, 654, 655, 656, 657, 658, 659, 660, 661, 662, 663, 664, 665, 666, 667, 668, 669, 670, 671, 672, 673, 674, 675, 676, 677, 678, 679, 680, 681, 682, 683, 684, 685, 686, 687, 688, 689, 690, 691, 692, 693, 694, 695, 696, 697, 698, 699, 700}
objID in Airtable not in Survey 123 : {nan}

In [18]:
len(set(s123.ObjectID.unique())-set(airtb["S123_Object_ID"].unique()))

503

In [25]:
len(airtb.Date)-len(airtb.Date.unique())

56

In [19]:
s123[s123.ObjectID==176]

,ObjectID,Date and Time of Observation,How deep is the flood water (in inches)?,Contact Information,May we contact you?,Photo,Neighborhood,Longitude,Latitude
48,176,7/20/2021 18:17,NaN,"Jason Clarke, 516-493-1936, jason.clarke475@gm...",Yes,NaN,NaN,-73.769466,40.607241

In [50]:
airtb_from_s123=list(airtb.S123_Object_ID.dropna().unique())
geodb["from_device"]="GeoDatabase"
for i in range(len(geodb)):
    if geodb.iloc[i]["ObjectID"] in airtb_from_s123:
            geodb.loc[i,"from_device"]="Survey 123"

geodb

,ObjectID,GlobalID,CreationDate,Creator,EditDate,Editor,Which of the following were flooded?,Other - Which of the following were flooded?,Please describe the weather conditions during the flooding event.,Other - Please describe the weather conditions during the flooding event.,...,Time of Observation,Date of Observation,What caused the flooding?,Other - What caused the flooding?,Is the location flooded at the time of the report?,May we contact you?,Neighborhood and/or Borough,x,y,from_device
0,20,e4ec81f4-186d-41b0-8779-a0e938c814a3,5/7/2020 12:12:32 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,property,NaN,light_rain,NaN,...,12:00,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.837982,40.657893,Survey 123
1,21,934fab2f-3314-4abc-8583-ff1a3b968439,5/7/2020 12:15:22 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,roads_streets,NaN,light_rain,NaN,...,12:00,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.837842,40.657755,Survey 123
2,22,0a4db08d-ae85-441e-86b2-80842c85c4c9,5/7/2020 12:35:38 AM,NaN,12/6/2021 8:46:09 PM,JBEditor,"roads_streets,sidewalks",NaN,"light_wind,light_rain",NaN,...,00:30,5/7/2020 12:00:00 AM,Storm_drain_Water_bubbling_up_f,NaN,Yes,No,Hamilton Beach,-73.829444,40.653456,Survey 123
3,23,79733b16-eda5-4d37-831a-816fbf3ab2e3,5/7/2020 12:41:22 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,"roads_streets,sidewalks,property",NaN,"light_wind,light_rain",NaN,...,00:39,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.817104,40.609023,Survey 123
4,24,efc6e186-66be-4e7c-866d-0f7eec330779,5/7/2020 12:46:55 AM,NaN,8/20/2021 3:07:38 AM,JBEditor,"roads_streets,sidewalks,property",NaN,"light_wind,light_rain",NaN,...,00:30,5/7/2020 12:00:00 AM,NaN,NaN,NaN,NaN,NaN,-73.829534,40.653500,Survey 123
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
719,775,2d2a0aa6-ab81-4b76-8432-6534559f14ba,2/21/2023 3:22:28 PM,NaN,2/21/2023 3:22:28 PM,NaN,"roads_streets,sidewalks,property",NaN,light_rain,NaN,...,09:31,2/21/2023 5:00:00 PM,"Overland_flooding_Water_coming_,Rainfall_Water...",NaN,No,Yes,"Howard Beach, Queens NY",-73.831090,40.658700,GeoDatabase
720,776,cd812384-d867-4493-8673-5d8784173114,5/1/2023 2:01:04 AM,NaN,5/1/2023 2:01:04 AM,NaN,property,NaN,heavy_rain,NaN,...,21:57,4/30/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,Yes,Yes,East Elmhurst,-73.886160,40.765840,GeoDatabase
721,777,1046acad-51d0-4527-83ab-abe4b7da12ab,6/9/2023 2:41:17 AM,NaN,6/9/2023 2:41:17 AM,NaN,"roads_streets,sidewalks,property,other",Homes,"heavy_wind_gusts,light_rain,heavy_rain,other",This happens with light and heavy rain,...,18:30,6/2/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",Every time it rain this place over flows and a...,Yes,Yes,Brooklyn,-73.942715,40.659874,GeoDatabase
722,778,9d81cf5e-335a-491f-8968-348fb1f4bed7,6/13/2023 1:56:10 AM,NaN,6/13/2023 1:56:10 AM,NaN,"roads_streets,property",NaN,light_rain,NaN,...,21:49,6/12/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,Yes,Yes,NaN,-73.942680,40.659922,GeoDatabase
723,779,adea909c-2d99-47e8-8e76-66dc7fff4d78,6/16/2023 7:26:16 PM,NaN,6/16/2023 7:26:16 PM,NaN,"roads_streets,sidewalks,property",NaN,"light_rain,heavy_rain",NaN,...,15:01,6/16/2023 4:00:00 PM,"Rainfall_Water_pooling_from_dir,Storm_drain_Wa...",NaN,Yes,Yes,NaN,-73.943031,40.659775,GeoDatabase

- _gform-form-id: the internal form ID for NJ High Water: `ObjectID`	OR `GlobalID`
- from_device: please set this to be whatever you're calling your uploader (it's just for logging): [munual input]
- photo_date: date format is important. All dates and times are local for the report : split `CreationDate`
- photo_time: time format is important (and yes, I know it's a terrible one): split `CreationDate`
- image1: array of IDs of uploaded images above: `Photo` in `airtb` 
- guessSource: These can be: "Ocean", "Bay", "River/Stream": 
- guessCause: These can be: "High Tide", "Storm Surge", "Rain": 
- post_comment:My post comment: ~
- location_longitude: `x`
- location_latitude: `y`